{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<body>
<div class="modal">
	<div class="modal_body">
		<div style="text-align: center;">
			<h1>로그인</h1>
			<form action="{% url 'polls:login' %}" method="POST">
				{% csrf_token %}
				<input name="username" type="text" placeholder = "아이디"><br>
				<input name="password" type="password" placeholder = "비밀번호"><br>
				<input type="submit" class="btn btn-primary" value="로그인">
			</form>
		</div>
	</div>	
</div>	
<div class="modal1">
	<div class="modal1_body">
		<div style="text-align: center;">
			<h1>회원가입</h1>
			<form action="{% url 'polls:signup' %}" method="POST">
				{% csrf_token %}
				<input name="email" type="email" placeholder = "이메일"><br>
				<input name="username" type="text" placeholder = "아이디"><br>
				<input name="password1" type="password" placeholder = "비밀번호"><br>
				<input name="password2" type="password" placeholder = "비밀번호확인"><br>
				<input type="submit" class="btn btn-primary" value="회원가입">
			</form>
		</div>
	</div>	
</div>
<div class="modal2">
	<div class="modal2_body">
		<div style="text-align: center;">
			<h1>문의하기</h1>
			<form action="{% url 'polls:contact' %}" method="POST">
				{% csrf_token %}
				<input name="email" type="email" placeholder = "이메일"><br>
				<input name="content" type="text" placeholder = "문의내용"><br>
				<input type="submit" class="btn btn-primary" value="제출">
			</form>
		</div>
	</div>	
</div>
<div id="container">	
	<aside>
		<header> <input type="text" placeholder="search"> </header>
		<ul> 
			<li class="qu">
				<div> <h2>{{ name }}</h2> </div> 
			</li>
		</ul>
		<ul>
			<li class="btn2-open-popup">
				<div> <h2 class="btn2-open-popup auth">문의하기</h2> </div>
			</li>
			<li class="btn1-open-popup">
				{% if user.is_authenticated %}
				<img><div></div>
				{% else %}
				<div> <h2 class="btn1-open-popup auth">회원가입</h2> </div>
				{% endif %}				
			</li>				
			<li class="btn-open-popup">
				{% if user.is_authenticated %}
				<div> <h2 href="{% url 'polls:logout' %}" class = "auth">로그아웃</h2> </div>
				{% else %}
				<div> <h2 class="btn-open-popup auth">로그인</h2> </div>
				{% endif %}				
			</li>				
		</ul>
	</aside>
	<main>
		<ul id="chat">
			{% if question %}
				{% for a, b in question %}
				<li class="me">
					<div class="entete"> <h2>나</h2> </div>
					<div class="message"> {{ a }} </div>
				</li>
				<li class="you">
					<div class="entete"> <h2>Turbo</h2> </div> 
					<div class="message"> {{ b }} </div>
				</li>		
				{% endfor %}
			{% endif %}
		</ul>
		<footer>			
			<form action="{% url 'polls:chat' %}" method="POST">
			{% csrf_token %}
			<input placeholder="질문을 입력해주세요!" id="my-textarea" name="quest"></input>   
			</form>
		</footer>
	</main>
</div>

<script src="{% static 'polls/chat.js' %}"></script>

</body>
