{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<form action="{% url 'polls:createform' %}" method="POST">
{% csrf_token %}
<div>
    <label for="studentID">입력</label>
    <input type="text" name="studentID" id="studentID">
</div>
<div>
    <label for="name">출력</label>
    <input type="text" name="name" id="name">
</div>
<br>
<input type="submit" value="제출">
</form>

{% if form %}
    <h1> {{ form }}</h1>
{% endif %}

{% load webpush_notifications %}
{% webpush_header %}
{% webpush_button %}


